ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-bg-variant);
    border-color: var(--color-white);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .object {
    font-size: 1rem;
  }

  li {
    float: left;
  }

  .salwa{
    float: right;
    background-color: var(--color-primary);
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 13px 98.5px;
  }
  
  li a:hover {
    background-color: var(--color-primary);
  }

/* =========================== MEDIA QUERIES (SMALL DEVICES)========================== */
@media screen and (max-width: 600px){
  li a{
    padding: 14px 18;
    gap: 1rem;
    font-size: 0.5rem;
  }

  .object{
    font-size: 1rem;
  }
}